.cardParent {
  
  border-radius: 20px;
box-shadow:  20px 20px 60px #c7c7d1,
             -20px -20px 60px #ffffff;
}
.buttonStyle{
  display:inline-block;
  background: linear-gradient(145deg, #fafaff, #d3d3dd);
  box-shadow:  20px 20px 60px #c7c7d1,
               -20px -20px 60px #ffffff;
}
